
body{
  font-family:'Inter', sans-serif;
  color:var(--text-main);
  background:var(--bg-main);
}

h1{
  font-size:64px;
  letter-spacing:-1.2px;
  line-height:1.1;
  font-weight:700;
}

h2{
  font-size:42px;
  letter-spacing:-0.5px;
  font-weight:700;
}

h3{
  font-size:20px;
  font-weight:600;
}

p{
  color:var(--text-muted);
  font-size:18px;
}